{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'card.css' %}">

<div class="jumbotron">
  <h1 class="display-4" style="text-align:center">Welcome to my Crypto Currency Website!</h1>
  <p class="lead" style="text-align:center">This is a simple project website that displays information regarding crypto</p>
  <br><br>
</div>

<div class="container">
    <div class="row">
        {% for x in news.Data%}
            <div class="card">
              <img src="{{x.imageurl}}" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title">{{x.title}}</h5>
                <p class="card-text">
                    {{x.body}}
                </p>
              <a href="{{x.url}}" type="button" class="btn btn-link" >Read more...</a>
              </div>
            </div>
        {% endfor %}
        <br>
    </div>
</div>
{% endblock %}

<!-- This is kept here for future reference in case i need to understand what i did

<section id="gallery">
  <div class="container">
    <div class="row">
    <div class="col-lg-4 mb-4">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Sunset</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
       <a href="" class="btn btn-outline-success btn-sm">Read More</a>
        <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
      </div>
     </div>
    </div>
  <div class="col-lg-4 mb-4">
  <div class="card">
      <img src="https://images.unsplash.com/photo-1516214104703-d870798883c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Sunset</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
       <a href="" class="btn btn-outline-success btn-sm">Read More</a>
        <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
      </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Sunset</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
       <a href="" class="btn btn-outline-success btn-sm">Read More</a>
        <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
      </div>
     </div>
    </div>
  </div>
</div>
</section>

<form class="d-flex" method="POST" action="{% url 'prices' %}">
    {% csrf_token %}
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">MARKET</th>
          <th scope="col">PRICE</th>
          <th scope="col">LASTUPDATE</th>
          <th scope="col">OPENDAY</th>
          <th scope="col">HIGHDAY</th>
          <th scope="col">LOWDAY</th>
          <th scope="col">MKTCAP</th>
        </tr>
      </thead>
      <tbody>
      {% for key, value in price.DISPLAY.items %}
        <tr>
          <td><button type="submit" name="quote" value={{key}} class="btn btn-link">{{key}}</button></td>
          <td>{{ value.USD.MARKET }}</td>
          <td>{{ value.USD.PRICE }}</td>
          <td>{{ value.USD.LASTUPDATE }}</td>
          <td>{{ value.USD.OPENDAY }}</td>
          <td>{{ value.USD.HIGHDAY }}</td>
          <td>{{ value.USD.LOWDAY }}</td>
          <td>{{ value.USD.MKTCAP }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</form>
-->