{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4" style="text-align:center">Toplist by 24H Volume Full Data</h1>
  <p class="lead" style="text-align:center">This grabs the top 30 coins by their total volume across all markets in the last 24 hours.</p>
  <br><br>
</div>
<form class="d-flex" method="POST" action="{% url 'prices' %}">
    {% csrf_token %}
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">MARKET</th>
          <th scope="col">PRICE</th>
          <th scope="col">LASTUPDATE</th>
          <th scope="col">OPENDAY</th>
          <th scope="col">HIGHDAY</th>
          <th scope="col">LOWDAY</th>
          <th scope="col">MKTCAP</th>
        </tr>
      </thead>
      <tbody>
      {% for x in top_coin.Data %}
        <tr>
          <td><button type="submit" name="quote" value={{x.CoinInfo.Name}} class="btn btn-link">{{x.CoinInfo.Name}}</button></td>
          <td>{{ x.DISPLAY.USD.MARKET }}</td>
          <td>{{ x.DISPLAY.USD.PRICE  }}</td>
          <td>{{ x.DISPLAY.USD.LASTUPDATE  }}</td>
          <td>{{ x.DISPLAY.USD.OPENDAY  }}</td>
          <td>{{ x.DISPLAY.USD.HIGHDAY  }}</td>
          <td>{{ x.DISPLAY.USD.LOWDAY  }}</td>
          <td>{{ x.DISPLAY.USD.MKTCAP  }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</form>
<div class="container text-center">
  <a href='top_crypto_2' type="button" class="btn btn-link" >View Less...</a>
</div>
{% endblock %}